html {
    font-size: 20px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.calculator-screen {
    width: 100%;
    font-size: 4rem;
    height: 80px;
    border: none;
    background-color: #e4e4e4;
    color: #000000;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #4d4b4b;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #fc7a01;
}

.all-clear {
    background-color: #fff;
    border-color: #c4c4c4;
    color: #fc7a01;
}

.all-clear:hover {
    background-color: #eaeaea;
}

.equal-sign {
    background-color: #fc7a01;
    border-color: #ffa600;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: #ff4800;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
